.anaId {
    height: 260px;
    width: 260px;
    border: 2px solid black;
    align-content: center;
    margin: 40px;
    transition: all 200ms ease-in;
    border-radius: 10%;
    padding: 30px;
    color: black;
    font-weight: 500;
    font-size: 60px !important;
    float: left;
}

.wrapper {
    margin-bottom: 100px !important;
}

.shipment-finished {
    color: red
}

.shipment-confirmed {
    color: orange
}

.shipment-booked {
    color: green
}